@import 'store/variables';

.owp-subnav > * > :first-child {
  color: $global-secondary-background;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;

  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
}

.owp-subnav > * > a {
  border-bottom: 3px solid $background-default-background;
}

/* Hover + Focus */
.owp-subnav > * > a:hover,
.owp-subnav > * > a:focus {
  color: $global-primary-background;
}

/* Active */
.owp-subnav > .uk-active > a {
  color: $global-primary-background;
  border-bottom: 3px solid $global-primary-background;
}

.owp-subnav .owp-subnav-text {
  padding-left: 5px;
  padding-right: 0px;
}
