.owp-table-meta tr.meta-root td.title {
  padding-bottom: 0;
}

.owp-table-meta tr.meta-sub {
  border-top: none;
}

.owp-table-meta tr.meta-sub td {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 12px;
  border: none;
}

.owp-table-meta tr.meta-sub.last td {
  padding-bottom: 10px;
}
