<% page_header do %>
  <div class="uk-h3"><%= t '.header' %></div>
<% end %>

<% page_body do %>
  <p>Find me in app/views/store/dashboard/show.html.erb</p>

  <p uk-margin>
  <button class="uk-button uk-button-default uk-button-small">Small button</button>
  <button class="uk-button uk-button-primary uk-button-small">Small button</button>
  <button class="uk-button uk-button-secondary uk-button-small">Small button</button>
  </p>

  <p uk-margin>
  <button class="uk-button uk-button-default uk-button-large">Large button</button>
  <button class="uk-button uk-button-primary uk-button-large">Large button</button>
  <button class="uk-button uk-button-secondary uk-button-large">Large button</button>
  </p>
<% end %>
