<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="#">Open Wholesale Platform</a>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li><%= link_to 'Log in', new_user_session_path %></li>
    </ul>
    <div class="uk-navbar-item">
      <a href="#" class="uk-button uk-button-danger">GET STARTED</a>
    </div>
  </div>
</nav>


<h1>Test headering</h1>
<h2>Test headering</h2>
