<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="#">Open Wholesale Platform</a>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li><a href="#">Log in</a></li>
    </ul>
    <div class="uk-navbar-item">
      <a href="#" class="uk-button uk-button-danger">GET STARTED</a>
    </div>
  </div>
</nav>
