<% page_header do %>
  <div class="uk-h3">Billing & Payments</div>
<% end %>

<% page_body no_padding: true, no_background: true do %>
  <div class="uk-card uk-card-default uk-card-body">
    <h3 class="uk-card-title">Default</h3>
    <table class="uk-table uk-table-justify uk-table-divider">
      <tbody>
        <tr>
          <td>Table Data</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
          <td><button class="uk-button uk-button-default" type="button">Button</button></td>
        </tr>
        <tr>
          <td>Table Data</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
          <td><button class="uk-button uk-button-default" type="button">Button</button></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
